#hed1 {
    color: blue;
    text-align: center;
}


h2 {
    color: red;
    text-align: center;
}

p {
    font-size: 25px;
}


.center {
    display: block;
    margin: auto;
    padding-bottom: 1.5em;
    width: 60%
}
    

